.nova-lozinka {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: auto;
}
.nova-lozinka input {
    padding: 6px 18px;
    border-radius: 9px;
    outline-color: #057859;
    border: 1px solid #06c491;
    margin-bottom: 10px;
}
.postavke {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 95%;
    border: 1px solid #057859;
    background-color: #ebeff5;
    box-shadow: 0px 2.98256px 7.4564px black;
    padding: 30px;
}
.postavke h1 {
    color: #06c491;
    text-align: center;
    font-weight: lighter;
}
.postavke h5 {
    margin-bottom: 15px;
    color: #002147;
    font-weight: 450;
}
.span-podatak {
    color: #06c491;
    font-weight: 400;
}

.file-input {
    margin: auto;
}

@media (min-width: 576px) {


}
@media (min-width: 768px) {
    .postavke {
        width: 500px;
    }
}